# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Exclude non-essential files from dist
/.* export-ignore
/*.dist export-ignore
/.neon export-ignore
/docs export-ignore
/benchmark export-ignore
/phpbench.json export-ignore
/tests export-ignore
/tools export-ignore
