tools/sandbox/Proxies/*
tools/sandbox/Hydrators/*
tools/sandbox/PersistentCollections/*
tests/Proxies/*
tests/Hydrators/*
tests/PersistentCollections/*
phpunit.xml
composer.lock
vendor/
.phpcs-cache
.phpunit.cache
.phpunit.result.cache
phpcs.xml
