language: php

php:
  - 5.3
  - 5.4
env:
  - DB=mongodb

before_script:
  - wget http://pecl.php.net/get/mongo-1.2.7.tgz
  - tar -xzf mongo-1.2.7.tgz
  - sh -c "cd mongo-1.2.7 && phpize && ./configure --enable-mongo && make && sudo make install"
  - echo "extension=mongo.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar install

script: phpunit -c .