dist: xenial
sudo: required
language: php

# Note: latest PHP version is tested with coverage; lowest is tested with --prefer-lowest
php:
  - 7.2
  - 7.3
  - 7.4

env:
  global:
    - DEPLOYMENT=STANDALONE
    - DRIVER_VERSION="stable"
    - ADAPTER_VERSION="^1.0.0"
    - SERVER_DISTRO=ubuntu1604
    - SERVER_VERSION=4.2.0
  matrix:
    - SERVER_VERSION="3.0.15"
    - SERVER_VERSION="3.2.22"
    - SERVER_VERSION="3.4.23"
    - SERVER_VERSION="3.6.14"
    - SERVER_VERSION="4.0.12"
    - SERVER_VERSION="4.2.0"

jobs:
  include:
    # Test against lowest dependencies, including driver and server versions
    - stage: Test
      php: 7.2
      env: DRIVER_VERSION="1.5.0" COMPOSER_FLAGS="--prefer-lowest" SERVER_VERSION="3.0.15"

    # Test sharded cluster functionality
    - stage: Test
      php: 7.3
      env: DEPLOYMENT=SHARDED_CLUSTER_RS
      script:
        - ./vendor/bin/phpunit --group=sharding

    # Test on replica sets
    - stage: Test
      php: 7.3
      env: DEPLOYMENT=REPLICASET

    # Run tests with coverage
    - stage: Code Quality
      php: 7.2
      env: DEPLOYMENT=SHARDED_CLUSTER_RS
      before_script:
        - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{.disabled,}
        - if [[ ! $(php -m | grep -si xdebug) ]]; then echo "xdebug required for coverage"; exit 1; fi
        - vendor/bin/phpunit --dump-xdebug-filter xdebug-filter.php
      script:
        - export DOCTRINE_MONGODB_SERVER=`cat /tmp/uri.txt`
        - echo $DOCTRINE_MONGODB_SERVER
        - vendor/bin/phpunit --prepend xdebug-filter.php --coverage-clover=coverage.clover
      after_script:
        - bash <(curl -s https://codecov.io/bash)

    # Performance tests
    - stage: Performance
      php: 7.3
      script: vendor/bin/phpbench run --report=default --revs=100 --iterations=5 --report=aggregate

before_install:
  - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{,.disabled} || echo "xdebug not available"

install:
  - .travis/setup_mongodb.sh
  - sudo pip install mongo-orchestration
  - sudo mongo-orchestration start
  - .travis/setup_mo.sh
  - composer self-update
  - pecl install -f mongodb-${DRIVER_VERSION}
  - composer update ${COMPOSER_FLAGS}
  - export DOCTRINE_MONGODB_SERVER=`cat /tmp/uri.txt`
  - echo $DOCTRINE_MONGODB_SERVER

script:
  - ./vendor/bin/phpunit
