parameters:
  level: 7
  paths:
    - %rootDir%/../../../benchmark
    - %rootDir%/../../../lib

  ignoreErrors:
    # See https://github.com/phpstan/phpstan/pull/1730
    - '#^Parameter \#1 $wstring of class MongoDB\\Driver\\WriteConcern constructor expects string, int|string given\.$#'
