includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  paths:
    - %rootDir%/../../../benchmark
    - %rootDir%/../../../lib
  excludes_analyse:
    - lib/Doctrine/ODM/MongoDB/Aggregation/Stage/GraphLookup/Match.php
    - lib/Doctrine/ODM/MongoDB/Aggregation/Stage/Match.php
