<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Doctrine ODM MongoDB Test Suite">
            <directory>./tests/Doctrine/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Doctrine/ODM/MongoDB</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <php>
        <const name="DOCTRINE_MONGODB_SERVER" value="mongodb://localhost:27017" />
        <const name="DOCTRINE_MONGODB_DATABASE" value="doctrine_odm_tests" />
    </php>
</phpunit>
