<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        backupStaticProperties="false"
        colors="false"
        failOnRisky="true"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Doctrine ODM MongoDB Test Suite">
            <directory>./tests/Doctrine/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./lib/Doctrine/ODM/MongoDB</directory>
        </include>
    </source>
    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
    <php>
        <ini name="error_reporting" value="-1"/>
        <const name="DOCTRINE_MONGODB_SERVER" value="mongodb://localhost:27017" />
        <const name="DOCTRINE_MONGODB_DATABASE" value="doctrine_odm_tests" />
        <env name="USE_LAZY_GHOST_OBJECTS" value="1"/>
    </php>
</phpunit>
