<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnAllIssues="true"
        failOnPhpunitDeprecation="true"
        failOnPhpunitWarning="true"
        failOnDeprecation="true"
        failOnNotice="true"
        failOnWarning="true"
        failOnIncomplete="true"
        failOnRisky="true"
        failOnEmptyTestSuite="true"
>
    <testsuites>
        <testsuite name="Doctrine ODM MongoDB Test Suite">
            <directory>./tests/Tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
    <php>
        <ini name="error_reporting" value="-1"/>
        <const name="DOCTRINE_MONGODB_SERVER" value="mongodb://localhost:27017" />
        <const name="DOCTRINE_MONGODB_DATABASE" value="doctrine_odm_tests" />
        <env name="USE_LAZY_GHOST_OBJECT" value="1"/>
        <env name="USE_NATIVE_LAZY_OBJECT" value="0"/>
    </php>
</phpunit>
